<!DOCTYPE html>
<html>
<head lang="zh_CN">
    <meta charset="UTF-8">
    <title>Betterlife ERP System Login</title>
    <script type="text/javascript" src='/js/bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src="/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/js/bower_components/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/js/bower_components/bootstrap/bootstrap.min.js"></script>

    <link rel="stylesheet" href="js/bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/bower_components/bootstrap/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="js/app/config.js"></script>
    <script type="text/javascript" src="js/app/service/authentication.js"></script>
    <script type="text/javascript" src="js/app/controller/loginCtrl.js"></script>
    <script type="text/javascript" src="js/app/controller/dashboardCtrl.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body data-ng-app='mainApp' ng-controller="loginCtrl">
    <div class="center-block col-sm-8 no-float">
        <form role="form" name="loginform" method="post" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <h3>Betterlife 系统登陆</h3>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <div class="alert alert-danger alert-dismissible" role="alert"  ng-show="login_error.length > 0">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span style="padding-left: 15px" ng-bind-html="login_error | to_trusted"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-6">
                    <input id="username" name="username" ng-model="username" type="text" placeholder="请输入用户名"
                           class="big-input form-control" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-6">
                    <input id="password" name="password" ng-model="password" type="password" placeholder="请输入密码"
                           class="big-input form-control" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button type="button" class="btn btn-primary" ng-click="login()">登陆系统</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>