<div ng-show="isInModel('create')">
    <form method="post" class="form-control panel">
        User Name: <input type="text" ng-model="username" name="username" placeholder="User Name" size="20"/>
        Password : <input type="text" ng-model="password" name="password" placeholder="Password" size="20"/>
        <input type="submit" value="Create User" ng-click="create()"/>
    </form>
</div>
<div ng-show="isInModel('edit')">
    <form method="post" class="form-control panel">
        <input type="hidden" ng-model="id" name="id"/>
        User Name: <input type="text" ng-model="username" name="username" placeholder="User Name" size="20"/>
        Password : <input type="text" ng-model="password" name="password" placeholder="Password" size="20"/>
        <input type="submit" value="Update User"/>
    </form>
</div>
<div ng-show="isInModel('list')">
    List all existing users.
    {{users}}
</div>
