<div class="text-center dashboard-container">
    <div style="margin-bottom:30px;">
        <div class="btn-group" role="group" style="margin-right:30px;">
            <button type="button" class="btn btn-default btn-lg dashboard-button"><span class="glyphicon glyphicon-usd"></span> 收入</button>
            <a class="btn btn-default btn-lg" href="/incoming/create">新增 <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default btn-lg" href="/incoming/list">查看 <span class="glyphicon glyphicon-list"></span></a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg dashboard-button"><span class="glyphicon glyphicon-minus-sign"></span> 支出</button>
            <a class="btn btn-default btn-lg" href="/expense/create">新增 <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default btn-lg" href="/expense/list">查看 <span class="glyphicon glyphicon-list"></span></a>
        </div>
    </div>
    <div style="margin-bottom:30px;">
        <div class="btn-group" role="group" style="margin-right:30px;">
            <button type="button" class="btn btn-default btn-lg dashboard-button"><span class="glyphicon glyphicon-user"></span> 供应商</button>
            <a class="btn btn-default btn-lg" href="/supplier/create">新增 <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default btn-lg" href="/supplier/list">查看 <span class="glyphicon glyphicon-list"></span></a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg dashboard-button"><span class="glyphicon glyphicon-barcode"></span> 产品</button>
            <a class="btn btn-default btn-lg" href="/product/create">新增 <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default btn-lg" href="/product/list">查看 <span class="glyphicon glyphicon-list"></span></a>
        </div>
    </div>
    <div style="margin-bottom:30px;">
        <div class="btn-group" role="group" style="margin-right:30px;">
            <button type="button" class="btn btn-default btn-lg dashboard-button"><span class="glyphicon glyphicon-shopping-cart"></span> 采购进货</button>
            <a class="btn btn-default btn-lg" href="/purchaseOrder/create">新增 <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default btn-lg" href="/purchaseOrder/list">查看 <span class="glyphicon glyphicon-list"></span></a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-lg dashboard-button"><span class="glyphicon glyphicon-send"></span> 销售出货</button>
            <a class="btn btn-default btn-lg" href="/salesOrder/create">新增 <span class="glyphicon glyphicon-plus"></span></a>
            <a class="btn btn-default btn-lg" href="/salesOrder/list">查看 <span class="glyphicon glyphicon-list"></span></a>
        </div>
    </div>
</div>