<div class="col-sm-offset-4">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-lg"><a href="/incoming/create">新增收入</a></button>
        <button type="button" class="btn btn-default btn-lg"><a href="/incoming/list">列出现有收入</a></button>
    </div>
    <br><br>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-lg"><a href="/expense/create">新增支出</a></button>
        <button type="button" class="btn btn-default btn-lg"><a href="/expense/list">列出现有支出</a></button>
    </div>
    <br><br>

    <div class="btn-group" role="group">
        <button class="btn btn-default btn-lg" type="button"><a href="/supplier/create">新增供应商</a></button>
        <button class="btn btn-default btn-lg" type="button"><a href="/supplier/list">列出现有供应商</a></button>
    </div>
    <br><br>

    <div class="btn-group" role="group">
        <button class="btn btn-default btn-lg" type="button"><a href="/product/create">新增产品</a></button>
        <button class="btn btn-default btn-lg" type="button"><a href="/product/list">列出现有产品</a></button>
    </div>
    <br><br>

    <div class="btn-group" role="group">
        <button class="btn btn-default btn-lg" type="button"><a href="/purchaseOrder/create">新增采购进货</a></button>
        <button class="btn btn-default btn-lg" type="button"><a href="/purchaseOrder/list">查看现有采购单</a></button>
    </div>
    <br><br>

    <div class="btn-group" role="group">
        <button class="btn btn-default btn-lg" type="button"><a href="/salesOrder/create">新增销售出货</a></button>
        <button class="btn btn-default btn-lg" type="button"><a href="/salesOrder/list">查看现有销售单</a></button>
    </div>
</div>