<div class='row'>
    <div class='col-md-offset-2 col-md-10 row'>
        <div class="col-md-4">
            <input type='button' class='btn btn-default' value='$operationType$entityType' ng-click='$operation()'/>
        </div>
        <div class="col-md-4">
            <input type='button' ng-show="'$operation' == 'create'" class='btn btn-default' value='保存并继续创建'
                   ng-click='$operation(true)'/>
        </div>
        <div class="col-md-4">
            <input type='button' class='btn btn-danger pull-right' value='$reset' ng-click='reset()'/>
        </div>
    </div>
</div>
