<div class="row">
    <div class="col-md-12">
        <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" is-open="calendar.opened.$fieldKey"
                   ng-model="$ngModel" ng-required="true" close-text="Close" init-date="$defaultValue">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="calendar.open($event, '$fieldKey')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
</div>
