.debug-body {
    padding: 30px 10px 0 10px;
}

.debug-page-title {
    margin-bottom: 20px;
}

.debug-page-block {
    margin: 15px 0;
}

.display-json-block {
    width:98%;
    padding:10px;
    margin:10px;
    word-wrap: break-word;
    border: 1px solid #cccccc;
}