.no-float {
    float: none;
}

body {
    padding-top: 0;
}

.navbar-nav {
    width: 90%;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

#id-label {
    display:none;
}

#footer {
    margin:auto;
    text-align:center;
    margin-top:20px;
}

.boolean-controller {
    margin-top:11px !important;
}
